body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: LightGray;
    padding-top: 1cm;
    padding-bottom: 0.2cm;
    padding-left: 9cm;
    padding-right: 9cm;
}

.botbar {
    background-color: LightGray;
    padding-top: 0.6cm;
    padding-bottom: 0.6cm;
    padding-left: 9cm;
    padding-right: 9cm;
    text-align: center;
}

.name {
    text-align: left;
    font-family: Brush Script MT;
    font-size: 300%;
}

.navbuttons {
    display: inline;
    text-align: right;
    font-size: 125%;
}

.text {
    padding-top: 0.2cm;
    padding-bottom: 0.25cm;
    padding-left: 9cm;
    padding-right: 9cm;
}
